.landing-container {
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .landing-image {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .landing-content {
    padding-top: 3rem;
    text-align: center;
  }
  
  .landing-label {
    font-size: 1.5rem;
  }
  
  .landing-slider {
    padding-left: 10%;
    width: 90%;
    padding-top: 3rem;
  }
  
  .unlock-container {
    position: relative;
    height: 7vh;
    background-color: #f5f5f5;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }
  
  .unlock-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40vh;
    background-color: #6c7381;
    transition: transform 0.3s ease-out;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .unlock-arrow {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .unlock-text {
    padding-left: 10px;
    font-size: 1.5rem;
  }
  